@charset "UTF-8";

/* 回答はここに書いてね */
.q10__outer {
  text-align: center;
}

.q10__text {
  display: inline-block;
  position: relative;
  text-align: left;
  background: #fff;
  border: 5px solid #222;
  border-radius: 30px;
  padding: 20px;
  width: 500px;
}

.q10__text::before, .q10__text::after {
  content: "";
  position: absolute;
  left: 30px;
  width:0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.q10__text::before {
  top: 157px;
  border-top: 20px solid #222;
}

.q10__text::after {
  top: 150px;
  border-top: 20px solid #fff;
}

/* 回答はここに書いてね */
